<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.login.app.dao.RegisterDeviceInfoDao">
	<select id="get" resultType="com.login.app.domain.RegisterDeviceInfoDO">
		select * from register_device_info where id = #{value}
	</select>

	<select id="list" resultType="com.login.app.domain.RegisterDeviceInfoDO">
		select * from register_device_info
		<where>
			<if test="id != null and id != ''"> and id = #{id}</if>
			<if test="deviceId != null and deviceId != ''"> and device_id = #{deviceId}</if>
			<if test="accountCount != null and accountCount != ''"> and account_count = #{accountCount}</if>
			<if test="channel != null and channel != ''"> and channel = #{channel}</if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from register_device_info
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="deviceId != null and deviceId != ''"> and device_id = #{deviceId} </if>
			<if test="accountCount != null and accountCount != ''"> and account_count = #{accountCount} </if>
			<if test="channel != null and channel != ''"> and channel = #{channel} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.login.app.domain.RegisterDeviceInfoDO" useGeneratedKeys="true" keyProperty="id">
		insert into register_device_info
		(
			`device_id` ,
		 	`account_count` ,
		 	`channel`
		)
		values
		(
			#{deviceId} ,
		 	#{accountCount} ,
			#{channel}
		)
	</insert>

	<update id="update" parameterType="com.login.app.domain.RegisterDeviceInfoDO">
		update register_device_info
		<set>
			<if test="deviceId != null">`device_id` = #{deviceId}, </if>
			<if test="accountCount != null">`account_count` = #{accountCount}, </if>
			<if test="channel != null">`channel` = #{channel}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from register_device_info where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from register_device_info where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>